build app:
  image: "docker:stable"
  stage: build
  services:
  - docker:dind
  cache:
    key: app-build
    policy: push
    paths:
      - build/
  script:
    - mkdir build
    - docker build --target build -t project-build .
    - docker container run --rm -v $(pwd)/build:/build project-build sh -c "mv /usr/dist/* /build"
  except:
    refs:
      - master
    variables: 
      - $CI_COMMIT_MESSAGE =~ /skip-dev-pipeline/